body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.main {
	flex-grow: 1;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}
