<!DOCTYPE html>
<html lang="en-En">
<head>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="assets/style.css">
</head>

<body>
<header>
<section class="hero is-primary">
	<div class="hero-body">
		<p class="title">
			Airport service
		</p>
		<p class="subtitle">
			Weather informations
		</p>
	</div>
</section>
<div class="tabs">
	<ul>
		<li><a href="home">Home</a></li>
		<li><a href="measures-list">Measures list</a></li>
		<li class="is-active"><a href="average-measure">Average measure</a></li>
	</ul>
</div>
</header>
<div class="main">
	<section class="section">
		<div class="columns">
			<div class="column"></div>
			<div class="column is-narrow" id="measure">
				<form>
					<div class="field pb-3">
						<label class="label" for="airport-id">Airport</label>
						<div class="select is-fullwidth">
							<select required name="airport-id">
								<option value="CDG"{{ if eq .AirportId "CDG" }} selected{{end}}>
									Paris-Charles de Gaulles
								</option>
								<option value="GNB"{{ if eq .AirportId "GNB" }} selected{{end}}>
									Grenoble Alpes Isère
								</option>
								<option value="NTE"{{ if eq .AirportId "NTE" }} selected{{end}}>
									Nantes Atlantique
								</option>
								<option value="PGV"{{ if eq .AirportId "PGV" }} selected{{end}}>
									Shanghai-Pudong
								</option>
							</select>
						</div>
					</div>
					<div class="field">
						<label class="label" for="date">Date</label>
						<div class="control">
							<input required type="date" class="input" name="date" value="{{ .Date }}"/>
						</div>
					</div>
					<div class="field has-text-centered">
							<div class="control">
							<input required type="submit" class="button is-primary" value="Get measures"/>
							</div>
					</div>
				</form>
			</div>
			<div class="column"></div>
			<div class="column is-narrow" id="response">
				<div class="block">
					<h3 class="subtitle is-5">Pressure</h3>
					<p>{{ .Pressure }}</p>
				</div>
				<div class="block">
					<h3 class="subtitle is-5">Temperature</h3>
					<p>{{ .Temp }}</p>
				</div>
				<div class="block">
					<h3 class="subtitle is-5">Wind</h3>
					<p>{{ .Wind }}</p>
				</div>
			</div>
			<div class="column"></div>
		</div>
	</section>
</div>
<footer class="footer">
	<div class="content has-text-centered">
		<p>
			Service created by Clément Athimon, Justine Barthelme, Titouan Bizet, Julien Reig and Ting Wang.
		</p>
	</div>
</footer>
</body>

</html>
