<!DOCTYPE html>
<html lang="en-En">
<head>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="assets/style.css">

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</head>

<body>
<header>
<section class="hero is-primary">
	<div class="hero-body">
		<p class="title">
			Airport service
		</p>
		<p class="subtitle">
			Weather informations
		</p>
	</div>
</section>
<div class="tabs">
	<ul>
		<li><a href="home">Home</a></li>
		<li class="is-active"><a href="measures-list">Measures list</a></li>
		<li><a href="average-measure">Average measure</a></li>
	</ul>
</div>
</header>
<div class="main">
	<section class="section">
		<div class="columns">
            <div class="column"></div>
			<div class="column is-narrow" id="measure">
				<form>
					<div class="field pb-3">
						<label class="label" for="airport-id">Airport</label>
						<div class="select is-fullwidth">
							<select required name="airport-id">
								<option value="CDG"{{ if eq .AirportId "CDG" }} selected{{end}}>
									Paris-Charles de Gaulles
								</option>
								<option value="GNB"{{ if eq .AirportId "GNB" }} selected{{end}}>
									Grenoble Alpes Isère
								</option>
								<option value="NTE"{{ if eq .AirportId "NTE" }} selected{{end}}>
									Nantes Atlantique
								</option>
								<option value="PVG"{{ if eq .AirportId "PVG" }} selected{{end}}>
									Shanghai-Pudong
								</option>
							</select>
						</div>
					</div>
					<div class="columns">
						<div class="column">
							<div class="field">
								<label class="label" for="end-date">First day</label>
								<div class="control">
									<input required type="date" class="input" name="start-date" value="{{ .StartDate }}"/>
								</div>
							</div>
							<div class="field">
								<label class="label" for="end-date">Last day</label>
								<div class="control">
									<input required type="date" class="input" name="end-date" value="{{ .EndDate }}"/>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="field">
								<label class="label" for="end-hour">Hour</label>
								<div class="control">
									<input required type="time" class="input" name="start-hour" value="{{ .StartHour }}"/>
								</div>
							</div>
							<div class="field">
								<label class="label" for="end-hour">Hour</label>
								<div class="control">
									<input required type="time" class="input" name="end-hour" value="{{ .EndHour }}"/>
								</div>
							</div>
						</div>
					</div>
					<div>
						<label class="label">Categories</label>
						<div class="columns">
							<div class="column">
								<label class="checkbox">
									Pressure
									<input type="checkbox" value="pressure" name="categories"
										   {{if .Pressure}}
											checked
											{{end}}>
								</label>
							</div>
							<div class="column">
								<label class="checkbox">
									Temperature
									<input type="checkbox" value="temp" name="categories"
										   {{if .Temp}}
										   checked
										   {{end}}>
								</label>
							</div>
							<div class="column">
								<label class="checkbox">
									Wind</br>
									<input type="checkbox" value="wind" name="categories"
										   {{if .Wind}}
										   checked
										   {{end}}>
								</label>
							</div>
						</div>
					</div>
					<div class="field has-text-centered">
						<div class="control">
						<input required type="submit" class="button is-primary" value="Get measures"/>
						</div>
					</div>
				</form>
			</div>
			<div class="column"></div>
			<div class="column is-narrow" id="response">
				<table class="table is-striped sortable">
					<thead>
						<tr>
							<th>Date</th>
							<th>Sensor</th>
							<th>Nature</th>
							<th>Value</th>
						</tr>
					</thead>
					{{range .Measures}}
						<tr class="item">
							<td>{{.Date}}</td>
							<td>{{.SensorId}}</td>
							<td>{{.Nature}}</td>
							<td>{{.Value}}</td>
						</tr>
					{{end}}
				</table>
			</div>
			<div class="column"></div>
		</div>
	</section>
</div>
<footer class="footer">
	<div class="content has-text-centered">
		<p>
			Service created by Clément Athimon, Justine Barthelme, Titouan Bizet, Julien Reig and Ting Wang.
		</p>
	</div>
</footer>
</body>

</html>
